@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.video-player {
  height: 100vh;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.btn {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  opacity: 0.99;
  transition: all 0.3s ease-in-out;
}

.btn1:hover {
  opacity: 1;
  transform: scale(1.05);

  background: #1da1f2;
  color: #fff;
  box-shadow: 0 0 5px #1da1f2, 0 0 25px #1da1f2, 0 0 50px #1da1f2,
    0 0 200px #1da1f2;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}

.btn2:hover {
  opacity: 1;
  transform: scale(1.05);

  background: #0088cc;
  color: #fff;
  box-shadow: 0 0 5px #0088cc, 0 0 25px #0088cc, 0 0 50px #0088cc,
    0 0 200px #0088cc;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}

.btn3:hover {
  opacity: 1;
  transform: scale(1.05);

  background: #7289da;
  color: #fff;
  box-shadow: 0 0 5px #7289da, 0 0 25px #7289da, 0 0 50px #7289da,
    0 0 200px #7289da;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}
.cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;

  transform-style: preserve-3d;
}

.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: linear-gradient(#f0f, #ffffff);
  transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: #f0f;
  transform: rotateX(90deg) translateZ(50px);
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  transform: translateZ(-120px);
  filter: blur(20px);

  box-shadow: 0 0 120px rgba(212, 0, 255, 0.2), 0 0 200px rgba(212, 0, 255, 0.4),
    0 0 300px rgba(212, 0, 255, 0.6), 0 0 400px rgba(212, 0, 255, 0.8),
    0 0 500px rgba(212, 0, 255, 1);
}

/* 
Neon Button */

.neon-button {
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}
.neon-button:hover {
  background: #03e9f4;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.neon-button:nth-child(1) {
  filter: hue-rotate(180deg);
}
.neon-button:nth-child(2) {
  filter: hue-rotate(100deg);
}
.neon-button span {
  position: absolute;
  display: block;
}
.neon-button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.neon-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.neon-button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.neon-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
